{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style. css' %}">
</head>
<body>
<h1>Вход в аккаунт</h1>
<form method="POST">
    {% csrf_token %}

    <input type="text" id="username" name="username" placeholder="Логин">
    <input type="password" id="password" name="password" placeholder="Пароль">

    <button type="submit">Войти</button>

    {% for msg in messages %}
        <p style="color:red;">{{ msg }}</p>
    {% endfor %}
    </form>

</body>
</html>
